.cart > .panel {
  min-height: 650px;
  border-radius: 1%
}

.cart ol {
  margin-bottom: .7em;
  padding-left: 20px;
}

.cart__total {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: right;
  bottom: 50px;
  right: 35px;
  position: absolute;
}
