@media (max-width: 360px){
  div[class*="numpadComp"] {
    /*width: 1.6em;
    height: 1.6em;
    border: 2px solid magenta;
    margin: 3px;*/
    font-size: 1.6em;
    /*line-height: 1.6em;*/
  }
}

div[class*="numpadComp"]:active {
  background-color: #F22;
  color: white;
}

/*.col-md-4*/
  div[class*="numpadComp"] {
  /*width: 2em;
  height: 2em;*/

  border: 2px solid magenta;
  border-radius: 9%;
  margin: 5px;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  font-weight: bold;
}

div[class*="2digits"] {
  padding-left: 12px;
}

.clearValues {
  border: 2px solid red;
  color: red;
  border-radius: 45%;
}

.glyphicon-ok {
  color: #8D8;
}
