.product {
    margin: 0;
    overflow: auto;
}

.donshow {
  display: none;
}

.product__price {
    display: inline-block;
    line-height: 34px; /*1.6em;*/
    font-size: 1.6em;
    color: #FF635E;
}

.product__button-wrap {
    float: right;
}

.product.thumbnail img[alt=product] {
  border-radius: 5%;
}

.product.thumbnail img[alt=product]:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);

}

.product.thumbnail img[alt=product]:active {
  opacity: 0;
  filter: alpha(opacity=0);
  
}

.btn-primary {
  display: none;
}

.btn-danger {
  margin: 3px;
  background-color: #FF635E;
  border-color: #8E1E1B;
}

.qtySpan {
    margin-left: 15px;
    color: #888;
}
