.product {
    margin: 0;
    overflow: auto;
}

.product__price {
    display: inline-block;
    line-height: 34px;
}

.product__button-wrap {
    float: right;
}

.product.thumbnail img[alt=product] {
  border-radius: 5%;
}

.product.thumbnail img[alt=product]:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.product.thumbnail img[alt=product]:active {
  opacity: 0;
  filter: alpha(opacity=0);
}

.btn-primary {
  display: none;
}
