.cart-item {
  margin-bottom: .3em;
}

.cart-item__name {
  display: inline-block;
}

.cart-item__price {
  float: right;
}


.cart-item div {
  border: 1px solid lightGray;
  display: inline-block;
}
